#report-page {
  padding: 0 30px 0 30px;
  .table-header table {
    margin-top: 15px;
    thead tr {
      background-color: #385de0;
      color: white;
    }
  }
  .table-body {
    height: 85vh;
    overflow: scroll;
    padding: 1px;
    tr {
      font-size: 15px;
      td {
        color: #808080;
        // &:hover {
        //   border: 1px solid #7b93ea;
        // }
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.numbering:hover {
          border: none;
        }
        .fa-info-circle {
          font-size: 18px;
          margin-left: 5px;
          &.success {
            color: #385de0;
          }
          &.failure {
            color: #ff4d4d;
          }
        }
      }
      &:nth-child(odd) {
        background-color: #f9f9f9;
      }
      &:hover {
        background-color: #f3f3f3;
        td {
          color: black;
        }
        cursor: pointer;
      }
    }
  }
  table.report-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    &, tr, th, td {
      border: none;
      text-transform: capitalize;
    }
    .numbering {
      width: 40px;
    }
  }
  .filter-box {
    margin-top: 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.12) 0px 1px 2px;
    background-color: rgb(248, 249, 251);

    p {
      font-size: 18px;
      margin-bottom: 5px;
      line-height: 45px;
    }
  }
  .success-text {
    color: #385de0;
    margin: auto 5px;
  }
  .failure-text {
    color: #ff4d4d;
    margin: auto 5px;
  }
}
