.pagination{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: gray;
  font-size: 0.9rem;
  padding: 15px;
  margin: 20px 100px;

   .page-btn{
    min-height: 40px;
    min-width: 40px;
    color: #385de0;
    border: none;
    border-radius: 50%;
    transition: background-color, 0.2s;
    font-size: 1rem;
    margin: 5px;

     &:focus{
      outline: none;
    }

     &:hover{
      background-color: lighten($color: #385de0, $amount: 10%);
      color: #fff;
    }

     &.icon-btn{
      display: flex;
      justify-content: center;

       &.nav-text{
        padding: 5px;
      }
      &:hover{
        background-color: inherit;
        border: solid 1px #385de0;
      }
    }
  }
}

 .active{
  border: solid 1px lighten($color: #385de0, $amount: 10%)!important;
}

 .page-panel{
  display: flex;
  justify-content: center;
  flex-direction: row;
  place-items: center;
  margin-left: 20px;
  margin-bottom: 6px;
}

 .nav-icon{
  width: 20px;
}

 .disabled{
  min-height: 40px;
  min-width: 40px;
  border: none;
  margin: 5px;
  color: #385de0;
  border: none;
  border-radius: 50%;
  transition: background-color, 0.2s;
  font-size: 1rem;
}

 .form-input{
    border: 1px solid rgb(199, 199, 199);
    width: 50px;
    height: 35px;
    text-align: center;
    color: #385de0;
    border-radius: 4px;
    padding-left: 10px;

     &:focus{
      border: 1px solid #385de0;
      outline: none;
    }
}

 .select{
    color: #385de0;

     &:focus{
      outline: none;
    }
}

 .center-item{
  width: 50%;

   >p {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  #header{
    display: flex;
    flex-direction: column;
  }
  .pills{
    display: flex !important;
    flex-direction: column ;
    align-items: stretch;
  }

  #header .pills .nav-links {
    margin-right: 1em;
    margin-top: 0.5em;
    padding-left: 50px;
    padding-right: 50px;;
    margin-top: 10px;
}

.user-info-container{
  margin-top: 10px !important;
}
.user-name{
  padding-left: 50px !important;
}
}