.filter-tag-box{
    height: fit-content;
    margin-top: 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.12) 0px 1px 2px;
    background-color: rgb(248, 249, 251);
    .tags{
        display: inline-block;
        padding-bottom: 3px; 
    }
    .filter-tags{
        margin: 5px;
        border: 1px solid black;
        border-radius: 3px;
        padding: 3px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: lowercase;
    }
    .filter-scroll{
        height: fit-content;
        padding-bottom: 12px;
        padding-top: 5px;
    }
    .filter-tags-label{
        margin: 5px;
        font-weight: bold;
    }
    .fa-times-circle{
        color:green;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
}