#header {
  background-color: rgb(51, 89, 223);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  padding: 30px;

  .brand {
    a {
      text-decoration: none;
    }
    .logo {
      width: 35px;
    }
    .text {
      margin-left: 10px;
      color: white;
      font-size: 20px;
    }
  }
  .signout {
    margin-right: 30px;
    position: relative;
    .user-name {
      position: relative;
      top: 5px; 
      color: rgb(110, 135, 238);
      font-size: 20px;
      padding-right: 15px;
    }
    a {
      color: white;
      text-decoration: none;
      .user-image {
        size: 10px;
        color: rgb(255, 255, 255); 
        background-color: rgb(188, 188, 188); 
        user-select: none; 
        display: inline-flex; 
        align-items: center; 
        justify-content: center; 
        font-size: 25px; 
        border-radius: 50%; 
        height: 50px; 
        width: 50px; 
        margin-left: 15px;
      }
      .fa-caret-down {
        margin-left: 10px;
        color:rgb(0, 0, 0); 
        height: 5px;
        width: 5px;
      }
    }
    .signout-dropdown {
      opacity: 0;
      position: absolute;
      right: -30px;
      width: 100px;
      color: black;
      background-color: white;
      padding: 5px;
      border-radius: 3px;   
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.12);
      transition: all 0.3s;
      &.visible {
        opacity: 1;
      }
      a {
        color: rgb(8, 8, 8);
        text-decoration: none;
      }
    }
    
    &:hover {
      i.fa-user-circle {
        color:rgba(255,255,255,.8);
      }
    }
  }
}