.dashboard-card {
  background-color: white;
  padding: 16px;
  overflow: auto;
}
.title {
  color: #667;
  font-family: DinPro;
  font-weight: normal;
  text-align: left;
  line-height: 24px;
  letter-spacing: -0.11px;
  font-size: 20px;
}

.engagement {
  width: 60%;
  float: left;
  height: 350px;
  border-radius: 5px;
  background-color: #FFF;
  border: 1px solid #EEF;
  padding: 10px 10px;
  margin: 20px;
}

.upselling {
  width: 36%;
  height: 350px;
  border-radius: 5px;
  background-color: #FFF;
  border: 1px solid #EEF;
  padding: 10px 10px;
  margin: 20px;
}
