.search-container{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  height: 40px;
}

.search-input{
    margin-left: 1.7%;
    padding: 8px 20px;
    width: 50%;
    border-radius: 3px;
    border: 1px solid grey;
    text-transform:capitalize;
    transition: border 0.5s;
    &:focus{
      outline: none;
      border: 2px solid lighten(grey, 20%);
    }
    &:hover{
      border: 2px solid lighten(grey, 20%);
    }
}

.search {
    font-size: 14px;
    margin-left: 2%;

    .search-title {
      display: flex;
      flex-direction: row;
      font-family: 'Din Pro';
      height: 100%;
      padding: 8.5px 20px;
      border: 1px solid grey;
      border-radius: 3px;
      color: #4d4d4d;
      cursor: pointer;
      transition-property: color;
      &:hover {
        background: lighten(#385de0, 45%);
      }
      i {
        padding-top: 7.4px;
        margin: -6px 0px -6px 10px;
        font-size: 20px;
        transition: all 0.3s;
        &.rotate-180 {
          transform: rotate(180deg);
      }
    }
  }
      .search-option{
        visibility: hidden;
        margin-top: 5px;
        margin-left: 3px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        width: 97%;
        border-radius: 6px;
        overflow: hidden;
        li {
          z-index:1;
          font-family: 'Din Pro';
          background-color:  white;
          border-bottom: 1px solid #d9d9d9;
          color: #4d4d4d;
          padding: 5px;
          input[type=radio] {
            margin-right: 10px;
          }
        }
        &.search-options-isvisible {
          visibility: visible;
        }
      }
}
