@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
@import "fonts/index.css";

/* Styling the NavBar/Footer component */
.navbar, .footer {
    padding: 15px;
    background-color: #3359df;
    color: white;
}

.navbar div.logo img{
    padding-left: 20px;
    width: 80px;
    height: auto;
}

.navbar div.user_image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    background-color: #eeeeee;
}

.footer {
    text-align: center;
    width: 100%;
}

/* Styling the SideBar component */
.col-sm-2 .sidebar{
    background-color: #eeeeee;
    height: 88vh;
    line-height: 250%;
    padding: 25px;
}

.sidebar a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Styling the ReportPage component */
.report_page {
    padding: 25px;
    height: 88vh;
    position: relative;
}

form input[type="search"] {
    width: 50%;
    padding:10px;
    font-style: normal;
    font-weight: normal;
}

form input[type="search"]::-webkit-input-placeholder {
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
}

form input[type="search"]::-moz-placeholder  {
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
}

form input[type="search"]:-ms-input-placeholder  {
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
}

table .report_table, th, td {
    border: 1px solid black;
    padding: 15px;
}

.report_table {
    width: 95%;
}

.pagination_container {
    position: absolute;
    bottom: 10%;
    left: 30%;
}

.pagination {
    display: inline-block;
    text-align: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color:#3359df;
    color: white;
}

.contaienr {
    padding: 0 30px 0 30px;
}

* {
    font-family: 'DIN Pro', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #fafafa;
}

/* Styling tooltips */
.tooltip-container {
    position: relative;
    display: inline-block;
}

/* Tooltip with text in it */
.tooltip-container .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #fff;
    color: #889;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    margin-left: -60px;
    opacity: 0;
}
.tooltip-container .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}
.tooltip-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Tooltip with small grey icon */
.tooltip-container .tooltip-icon {
    visibility: hidden;
    background-color: #fff;
    color: #889;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 13%;
    margin-left: 4px;
    opacity: 0;
    font-size: 10px;
}
.tooltip-container:hover .tooltip-icon {
    visibility: visible;
    opacity: 1;
}

/* Tooltip with small black icon */
.tooltip-container .tooltip-icon-black {
    visibility: hidden;
    background-color: #f3f3f3;
    color: black;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 33%;
    margin-left: 4px;
    opacity: 0;
    font-size: 10px;
}
.tooltip-container:hover .tooltip-icon-black {
    visibility: visible;
    opacity: 1;
}
